# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Xcode
## User settings
xcuserdata/
*.xcuserstate
*.xcuserdatad

## Build generated
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Various settings
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Obj-C/Swift specific
*.swiftpm/xcuserdata

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved
# Uncomment the next line if you want to commit a checked-out packages state
# *.xcodeproj

# CocoaPods
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Accio dependency management
Dependencies/
.accio/

# Code injection
iOSInjectionProject/
